.profile-container {
    width: 300px;
    height: auto;

    .profile-img {
        margin: 0;
    }
}

@media screen and (max-width: 980px) {
    .profile-container {
        margin: 20px auto 0;
    }
}