.contact-page {
    .text-zone {
        margin-left: 0;
        margin-right: 100px;

        .info-map {
            margin: 30px auto 0;
            padding: 25px 20px 25px 45px;
            color: #fff;
            font-family: 'Helvetica';
            font-size: 17px;
            font-weight: 300;
            opacity: 0;
            animation: fadeIn 1s 1.5s;
            animation-fill-mode: forwards;
            border: 2px solid #ffd700;
            width: 480px;
            
            li {
                display: flex;
                font-size: 16px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
                
                .icon {
                    width: 30px;
                }

                .data {
                    margin-left: 20px;
                    line-height: 1.8;
                    width: calc(100% - 50px)
                    ;
                    .tel {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .info-wrap {
        width: 440px;
        
    }
}

.light {
    .text-zone {
        .info-map {
            color: #022c43;
            border: 2px solid #022c43;

            li {
                .icon {
                    svg {
                        path {
                            fill: #022c43;
                        }
                    }
                }

                .data {
                    .tel {
                        color: #022c43;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 980px) {
    .contact-page {
        .text-zone {
            margin: 0;

            .info-map {
                padding: 20px;
                width: 100%;
                max-width: 360px;
                margin: 50px auto 0;
                box-sizing: border-box;

                li {
                    .data {
                        font-size: 12px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .info-wrap {
            display: none;
        }
    }
}